@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html {
  scrollbar-color: #fafafa;
}

html.dark {
  --background: #000000;
  --foreground: #fafafa;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Baloo_Tamma_2);
  transition: background-color 0.7s ease, color 0.7s ease;
}

@layer base {
  button,
  a,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  label,
  [role="button"],
  [tabindex]:not(:disabled) {
    @apply cursor-pointer;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}


html.dark #main-header {
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0)),
    rgba(0, 0, 0, 0.3);
  color: #fafafa;

  backdrop-filter: blur(10px);
}

html #main-header {
  background: white;
  color: black;
  backdrop-filter: blur(10px);
}