@import "tailwindcss";

/* ---------------------------- VARIABLES CSS ---------------------------- */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

html.dark {
  --background: #000000;
  --foreground: #fafafa;
}

.no-scroll {
  overflow: hidden;
}

/* -------------------------- STYLES GLOBAUX HTML ------------------------- */
html {
  scrollbar-color: #fafafa;
}

/* --------------------------- CORPS DE LA PAGE --------------------------- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Baloo_Tamma_2);
  transition: background-color 0.7s ease, color 0.7s ease;
}

/* ------------------------- CURSEUR POUR ÉLÉMENTS ------------------------- */
@layer base {
  button,
  a,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  label,
  [role="button"],
  [tabindex]:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* --------------------------- SCROLLBAR INVISIBLE -------------------------- */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* ------------------------------- NAVBAR ---------------------------------- */
/* Mode clair */
html #navbar {
  background: white;
  color: black;
  backdrop-filter: blur(10px);
  box-shadow: none;
}

/* Mode sombre */
html.dark #navbar {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    rgba(0, 0, 0, 0.3);
  color: #fafafa;
  backdrop-filter: blur(10px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* --------------------------- BOUTON SCROLL TOP ---------------------------- */
.scroll-top-button {
  transition-property: width, background-color, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
